#absolute-container{
  position: absolute;
  bottom: 5%;
  right: 0;
}

form :nth-of-type(2) input,
form input:nth-of-type(2){
  padding: 10px 20px 40px;
}

.fancy{
  border: 10px dashed deeppink;
  font-size: 2em;
  margin: 10px;
  padding: 20px;
}