.search-cancel input[type="search"],
.searchfield-as-textfield{
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
}

  .search-cancel input[type="search"]::-webkit-search-cancel-button,
  .searchfield-as-textfield::-webkit-search-cancel-button{
    -webkit-appearance: none;
  }

  .search-cancel-button{
    cursor: pointer;
    display: block;
    height: 12px;
    opacity: .5;
    outline: 1px solid red;
    position: absolute;
    width: 12px;
  }
  .search-cancel-button:hover{
    opacity: 1;
  }
  .search-cancel-button.hidden{
    visibility: hidden;
  }